/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 145px;
    height: 87px;
}

.main-content {
    padding: 50px 0;
    text-align: center;
}

.login-form {
    padding: 30px;
    border-radius: 5px;
    max-width: 100%;
    margin: 0 auto;
}

.section-content {
    text-align: center;
}

.form-heading {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: transparent;
    padding: 10px;
    text-align: center;
}

.remember-me {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.forgot-password {
    display: block;
    text-decoration: none;
    color: #007bff;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.form-actions {
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}


footer {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 19%;
    border-top: 5px solid #007bff;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #007bff;
}

.social-icons i {
    font-size: 24px;
}

p{
    text-align: center;
    margin: 20px;
}